extends layout

block content
  h1= title
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet. Et fuga minus non laborum sapiente non suscipit numquam qui incidunt voluptatum? Id velit sint ex minima magnam nam omnis qui sapiente dolor hic aliquid repellendus ab exercitationem neque nam omnis unde. Cum esse aspernatur eum dolore iusto non alias dolor id placeat voluptas? Sed numquam culpa 33 dicta blanditiis sit quia autem est autem iure est dolorum quia.
